<div class="card">
  <section><p class="name-user">Paola Jaramillo Puas</p></section>
  <section class="main-container">
    <div class="container-info">
      <span>Tipo documento:</span>
      <strong>CC</strong>
    </div>
    <div class="container-info">
      <span>Numero documento:</span>
      <strong>6217238122</strong>
    </div>
    <div class="container-info">
      <span>Email:</span>
      <strong>Paola.jaramill@gmail.com</strong>
    </div>
    <div class="container-info">
      <span>Estado:</span>
      <strong class="active">Inactivo</strong>
    </div>
    <div class="container-info">
      <span>Cantidad Vehiculos:</span>
      <strong>1</strong>
    </div>
  </section>
</div>
