<div class="card" *ngIf="supplierItem">
  <section>
    <p class="name-user">{{ supplierItem.full_name }}</p>
  </section>
  <section class="main-container">
    <div class="container-info">
      <span>Tipo documento:</span>
      <strong>{{ supplierItem.document_type }}</strong>
    </div>
    <div class="container-info">
      <span>Numero documento:</span>
      <strong>{{ supplierItem.document_number }}</strong>
    </div>
    <div class="container-info">
      <span>Email:</span>
      <strong>{{ supplierItem.email }}</strong>
    </div>
    <div class="container-info">
      <span>Direccion:</span>
      <strong>{{ supplierItem.address }}</strong>
    </div>
    <div class="container-info">
      <span>Cantidad Vehiculos:</span>
      <strong>1</strong>
    </div>
    <div class="container-info">
      <span>Estado:</span>
      <strong [ngClass]="supplierItem.active ? 'active' : 'inactive'">{{
        supplierItem.active ? "Active" : "Inactive"
      }}</strong>
    </div>
  </section>
</div>
