.btn-back {
  font-weight: bold;
  cursor: pointer;
}

.actions {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.group-btn {
  display: flex;
  gap: 20px;
}
.blue {
  background-color: #142b47;
  border: 1px solid #142b47;
}

.yellow {
  background-color: #4b361f;
  border: 1px solid #4b361f;
}

.button {
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 16px;
  text-decoration: none;
}
