<div class="card" *ngIf="vehicleItem">
  <section>
    <p class="license-plate">{{ vehicleItem.license_plate }}</p>
  </section>
  <section class="main-container">
    <div class="container-info">
      <span>Modelo:</span>
      <strong>{{ vehicleItem.model }}</strong>
    </div>
    <div class="container-info">
      <span>Marca:</span>
      <strong>{{ vehicleItem.denomination }}</strong>
    </div>
    <div class="container-info">
      <span>Sub marca:</span>
      <strong>{{ vehicleItem.sub_brand }}</strong>
    </div>
    <div class="container-info">
      <span>Estado:</span>
      <strong [ngClass]="vehicleItem.active ? 'active' : 'inactive'">{{
        vehicleItem.active ? "Activo" : "Inactivo"
      }}</strong>
    </div>
  </section>
  <hr />
  <section><p class="license-plate">Conductor asociado</p></section>
  <section class="main-container" *ngIf="vehicleItem.document_number">
    <div class="container-info">
      <span>Numero de Identicacion:</span>
      <strong>{{ vehicleItem.document_number }}</strong>
    </div>
    <div class="container-info">
      <span>Nombre:</span>
      <strong>{{ vehicleItem.full_name }}</strong>
    </div>
  </section>
  <section class="main-container" *ngIf="!vehicleItem.document_number">
    <span>No se ha asociado un conductor</span>
  </section>
</div>
