<div class="card">
  <section><p class="license-plate">AHS782</p></section>
  <section class="main-container">
    <div class="container-info">
      <span>Modelo:</span>
      <strong>2021</strong>
    </div>
    <div class="container-info">
      <span>Marca:</span>
      <strong>Toyota</strong>
    </div>
    <div class="container-info">
      <span>Sub marca:</span>
      <strong>Capoed</strong>
    </div>
    <div class="container-info">
      <span>Estado:</span>
      <strong class="active">Inactivo</strong>
    </div>
  </section>
</div>
